<header class="top-bar">
    <div class="full-top-bar">
        <div class="tool-bar">
            <nav class="top-bar-menu">
                <ul class="top-bar-list">
                    <li class="top-bar-choose">Профиль</li>
                    <li class="top-bar-choose">Фильмы</li>
                    <li class="top-bar-choose">Мультфильмы</li>
                    <li class="top-bar-choose">Сериалы</li>
                </ul>
        </nav>
        </div>
        <div class="login-case">
            <button class="search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><circle cx="11" cy="11" r="6.5" fill="none" stroke="#fff"/><line x1="20.4" y1="20.5" x2="15.5" y2="15.7" fill="none" stroke="#fff"/></svg>
            </button>
            <button class="profile">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><circle cx="12" cy="7.5" r="4" fill="none" stroke="#fff"/><polyline points="4.5 21 4.5 17 7.5 14 12 15.5 16.5 14 19.5 17 19.5 21" fill="none" stroke="#fff"/></svg>
            </button>
        </div>
    </div>
</header>
